@import "../../variables";

.main-header {
    background-color: #007bff;
    border-bottom: 2px solid #FFFFFF;
}

.header-logo {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 28px;
    font-weight: bold;
}