$main-background: #f0f0f0;
$header-background: #ffffff;

$main-text-font: 'Roboto Slab', sans-serif;
$main-title-font: 'Roboto Condensed', sans-serif;

$dark-blue: #000033;
$white: #ffffff;
$grey:#6c757d;
$dark-blue:  #092e55;
